# Node.js
node_modules/
npm-debug.log*
app/package-lock.json.bak

# Terraform
terraform/**/*.tfstate
terraform/**/*.tfstate.*
terraform/**/.terraform/
terraform/**/.terraform.lock.hcl

# Variables de entorno locales
.env
.env.*

# Sistema operativo / editor
.DS_Store
.vscode/
.idea/
